.Gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(210px,1fr));
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
}
.track {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 182px;
    padding: 15px;
    margin: 10px;
    font-family: Proxima Thin,Georgia,sans-serif;
    font-size: 17px;
    list-style-type: none;
    line-height: 28px;
    text-align: center;
    overflow-wrap: break-word;
    cursor: pointer;
    color: #1a1a1a;
}

.album-art {
    width: 180px;
    height: 180px;
    margin-bottom: 8px;
    opacity: 1;
}

.track-name {
    font-size: 1.5rem;
}

.playButton {
    font-size: 1.5rem;
}